{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}

<div class="container-fluid blank-with-padding">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid allauth-container">
    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">
            <h1 class="table-heading">Register</h1>
        </div>
    </div>
    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">
            {% setvar link %}
            <a href="{{ login_url }}">
                {% endsetvar %}
                {% setvar end_link %}
            </a>
            {% endsetvar %}
        </div>
    </div>
    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">
            {% element p %}
            {% blocktranslate %}Already have an account? Then please {{ link }}sign
            in{{ end_link }}.{% endblocktranslate %}
            {% endelement %}
        </div>
    </div>

    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">
            <h3 class="allauth-default-text">
                {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=False %}
                {% endelement %}
                {{ redirect_field }}
                {% endslot %}
            </h3>

        </div>
    </div>

    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">
            {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
            {% trans "Sign Up" %}
            {% endelement %}
            {% endslot %}
            {% endelement %}
            {% endif %}
        </div>
    </div>
    <div class="row allauth-row-properties">
        <div class="col allauth-col-properties align-center">

            {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
            {% endblock content %}
        </div>
    </div>
</div>